:host {
  display: block;
  margin-top: 17px;
}


.event-image {
  width: 100%;
}

.event-image img {

  height: 100%;
  width: 140px;

}


mat-paginator {
  margin-top: 16px;
}

mat-spinner{
  margin: auto;
}

.date {
  position: absolute;
  background-color: lightskyblue;
}


