@import "~bootstrap/scss/bootstrap";



.add-icon {
  padding: 18px 20px;
  text-align: center;
  border-radius: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

}


.icon {
  height: 35px;
}
