
<mat-card >
<form (submit)="onSignup(Signup)" #Signup="ngForm">

  <mat-form-field >
    <mat-label>First Name</mat-label>
    <input matInput type="text" name="prenom" ngModel placeholder="First Name"  #prenomInput="ngModel" required >
    <mat-error *ngIf="nomInput.invalid">Please enter a valid FirstName</mat-error>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Last Name</mat-label>
    <input matInput type="text" name="nom" ngModel placeholder="Last Name"  #nomInput="ngModel" required >
    <mat-error *ngIf="nomInput.invalid">Please enter a valid Name</mat-error>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Email</mat-label>
    <input matInput type="text" name="email" ngModel placeholder="E-Mail"  #emailInput="ngModel" required email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
  </mat-form-field>

  <mat-form-field >
    <input type="password" name="password" ngModel matInput placeholder="Password" required #passwordInput="ngModel">
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
  </mat-form-field>
  <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
  <button *ngIf="!isLoading" mat-raised-button color="accent" type="submit">Signup</button>
</form>

</mat-card>

